html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  bottom: 0;
}

@media (max-width: 768px) {
  .responsive-row {
    flex-direction: column !important;
  }

  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .col-md-10 {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
