 {% extends 'book/base.html' %} { % block title % } Change Password { % endblock % } {% block content %}
<div class="row">
    <div class="alert alert-primary" role="alert">
        <h3 class="alert-heading">Change User Password...</h3>
    </div>
</div>
<br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %} {{ error }} {{ message }} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Change Password</button>
        <br/><br/>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            <li class="list-group-item">Your password can't be too similar to your other personal information.</li>
            <li class="list-group-item">Your password must contain at least 8 characters.</li>
            <li class="list-group-item">Your password can't be a commonly used password.</li>
            <li class="list-group-item">Your password can't be entirely numeric.</li>
            <li class="list-group-item"></li>
        </ul>
    </form>
</div>

{% endblock %}
 