{% extends 'book/base.html' %}
<title>{% block title %} Password Changed {% endblock %}</title>
{% block content %}

<div class="row">
    <div class="col mt-5">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading"><a class="nav-link" style="color:#fffaf0;" href="{% url 'currentbooks' %}">Your Books</a></h4>
        </div>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><a class="nav-link" style="color:#fffaf0;" href=" {% url 'createbook' %} ">Add A Book</a></h4>
        </div>
        <div class="alert alert-primary " role="alert ">
            <h4 class="alert-heading "><a class="nav-link " style="color:#fffaf0;" href="{% url 'home' %}">All User Books</a>
            </h4>
        </div>
    </div>
    <div class="col">
        <img src="https://res.cloudinary.com/angelrodriguez/image/upload/v1603933166/apple_book.svg" class="img-fluid" alt="Responsive image" title="apple on book">
    </div>

</div>

</div>

{% endblock %}
