 {% extends 'book/base.html' %} {% block title %} Register {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-1">
            <img src="https://res.cloudinary.com/angelrodriguez/image/upload/v1603933167/mibrary_logo.svg" class="img-fluid" alt="Responsive image" title="main logo">
            <h2>Register...</h2>
            <form method="POST">
                <div class="form-group">
                    {% csrf_token %} {{ error }}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                        <small id="usernameHelp" class="form-text text-muted">Your username must be unique. We'll let you know if someone has already taken it.</small>
                    </div>
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" name="password1" class="form-control" id="password1">
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" name="password2" class="form-control" id="password2">
                    </div>

                </div>
                <button type="submit" class="btn btn-outline-primary btn-lg">Register</button>
            </form>
            <small>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item">Your password can't be too similar to your other personal information.</li>
                    <li class="list-group-item">Your password must contain at least 8 characters.</li>
                    <li class="list-group-item">Your password can't be a commonly used password.</li>
                    <li class="list-group-item">Your password can't be entirely numeric.</li>
                    <li class="list-group-item"></li>
                </ul>
            </small>
        </div>
        <div class="col">
            <img src="https://res.cloudinary.com/angelrodriguez/image/upload/v1603933167/reading.svg" class="img-fluid" alt="Responsive image" title="woman reading">
        </div>
    </div>
</div>

{% endblock %}
 